@charset "UTF-8";

@font-face {
    font-family: "food";
    src: url("Spooky\ Scary\ Creepy.ttf")format(truetype);
}
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

main > h1{
    line-height: 60px;
}

header{
    background-image: linear-gradient(to bottom, #72520c, #423008, #362706);
    text-align: center;
    color: white;
    padding: 10px;
    height: 220px;


}
h1,h2{
    font-family: "food";
}

body{
    background-color: #a8383e96;
    
}
header > img{
    width: 130px;
}

img.cada{
    width: 320px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    display: block;
    margin: auto;
    
}
img.cardapio{
    width: 100px;
    border-radius: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
}
main{
    width: 320px;
    margin: auto;
    padding: 20px;
    background-color: white;
}
p.dica{
    text-indent: 10px;
}
li{
    list-style: none;
}
p{
    margin: 10px;
}

a{
    text-decoration: none;
    font-weight: bold;
}

aside{
    background-color: #362706bd;
    padding: 10px;
    border-radius: 10px;
    color: white;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.356);
}
aside > h3
{
    background-color: #362706a6;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside.co{
    background-color: #000000e7;
    
    margin-top: 20px;
    margin-bottom: 20px;
}